
.navbar{
    height: 80px;
}

/* Estilo para el logo */
.navbar-brand img {
    max-height: 70px;
    object-fit: contain;
}

.navbar form {
    margin: auto;
    height: 50px;
}

  /* Iconos de la derecha */
/* .nav-link {
    display: flex;
    align-items: center;
    font-size: 18px;
} */

.icon-black{
    color: black;
}

.navbar .button-input{
    background-color: #E9AE18;
    border: none;
    width: 60px;
}

.navbar .input:focus {
    outline: none;
    box-shadow: none;
    border-color: #E9AE18;
}

.navbar .button-input:hover{
    background-color: orange;
}

.navbar .badge{
    border-radius: 60%;
    background-color: #E9AE18;
}